{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center bg-white p-5 rounded shadow-sm border-top border-danger border-4">
            <h2 class="text-danger mb-4 fw-bold">Contexto de la Comuna</h2>
            <p class="lead text-muted">La Serena es la capital regional y una comuna con funciones administrativas, residenciales, turísticas y comerciales.</p>
            <p class="text-secondary">El municipio responde a realidades territoriales distintas administrando a más de 250.141 habitantes. A través de este portal, buscamos acercar la gestión comunal a cada sector.</p>
            
            <button onclick="history.back()" class="btn btn-outline-dark mt-4 px-4 shadow-sm">
                ⬅ Volver a Autoridades
            </button>
        </div>
    </div>
</div>
{% endblock %}